extends layout

block content
  h1 #{title}: #{artist.name}

  if artist_songs.length

    p #[strong Delete the following songs before attempting to delete this author.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Songs

      dl
      each song in artist_songs
        dt
          a(href=song.url) #{song.title}
        dd

  else
    p Do you really want to delete this Artist?

    form(method='POST' action='')
      div.form-group
        input#artistid.form-control(type='hidden',name='artistid', required='true', value=artist._id )

      button.btn.btn-primary(type='submit') Delete