extends layout 

block content 

  h1= song.title

  audio(controls)
    source(src=song.fileUrl type='audio/mpeg')

  p #[strong Artist: ]
    a(href=song.artist.url) #{song.artist.username}
  p #[strong Description:] #{song.description}
  p #[strong Key:] #{song.key}
  p #[strong BPM:] #{song.bpm}
  
  p #[strong Genre: ]
    a(href=song.genre.url) #{song.genre.name}
