extends layout

block content

  h1= title

  ul
    each song in song_list
      li 
        a(href=song.url) #{song.title}
        br
        a(href=song.artist.url) #{song.artist.username}
        br
        | Key: #{song.key}, BPM: #{song.bpm}
        br
        a(href=song.genre.url) #{song.genre.name}


    else
      li There are no songs.

